header {
    background: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 50;
}

header h1 {
    font-size: 1.5em;
    color: #373737;
}

header h1 img.img-responsive {
    max-width: 80px;
    width: 20%;
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #ef2938;
}

header h1 span .orangeText {
    color: #dc143c;
}

@media (min-width: 480px) and (max-width: 1199px) {
    header h1 img.img-responsive {
        display: block;
        margin: 20px auto 0;
    }
}

@media (max-width: 479px) {
    header h1 img.img-responsive {
        display: block;
        margin: 20px auto;
    }
}

main {
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 38, 83, 0) 50%, rgba(0, 38, 83, 0.8) 100%), url(../img/pl_bg.jpg);
    background-size: cover;
    background-position: center center;
}

.videoFooter h2 {
    color: #ffffff;
}

.videoFooter h2:after {
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
    border-right: 4px solid rgba(255, 255, 255, 0.8);
}

.videoFooter h2:before {
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
    border-left: 4px solid rgba(255, 255, 255, 0.8);
}

#introForm .btn {
    background-color: #dc143c;
}

#introForm .btn:hover {
    background-color: #ed143c;
}