@import "https://fonts.googleapis.com/css?family=Rajdhani:400,700&amp;subset=latin,latin-ext";
[v-cloak] {
    display: none;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    background-color: #002653;
    background-image: url(../img/bgBluePattern.png);
    background-repeat: repeat;
    min-height: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.375;
    color: white;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rajdhani", sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
}

h1 {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    color: #ffbe5b;
    font-size: 2.625rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 0px;
}

header .img-responsive {
    max-width: 360px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

header h4 {
    margin-top: 55px;
    position: relative;
}

header h4 img {
    position: absolute;
    width: 100px;
    height: auto;
    right: 10px;
    bottom: -230px;
}

@media (max-width: 1200px) {
    header h4 img {
        display: none;
    }
}

.orangeText {
    color: #ffbe5b;
}

@-webkit-keyframes pulseLoop {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    68% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes pulseLoop {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    68% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes pulseLoop {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    68% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulseLoop {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    68% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

h1 .redHeadlineBox {
    display: inline-block;
    background-color: #e30613;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    position: relative;
    animation: pulseLoop linear 3s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: pulseLoop linear 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: pulseLoop linear 3s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: pulseLoop linear 3s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: pulseLoop linear 3s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

h1 .redHeadlineBox:before {
    content: "";
    display: block;
    width: 71px;
    height: 44px;
    position: absolute;
    top: -5px;
    left: -5px;
    background: url(../img/freeAccessStripe.png) top left;
    background-size: contain;
}

header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.videoHeader {
    text-align: center;
    margin-bottom: 50px;
}

.videoHeader h2 {
    margin-top: 0px;
    font-size: 3.25rem;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
}

.videoHeader h2:before {
    content: "";
    display: block;
    position: absolute;
    left: -40px;
    top: 50%;
    bottom: -10px;
    margin-top: -2px;
    width: 30px;
    border-top: 4px solid rgba(255, 255, 255, 0.2);
    border-left: 4px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px 0 0 0;
}

.videoHeader h2:after {
    content: "";
    display: block;
    position: absolute;
    right: -40px;
    top: 50%;
    bottom: -10px;
    margin-top: -2px;
    width: 30px;
    border-top: 4px solid rgba(255, 255, 255, 0.2);
    border-right: 4px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 4px 0 0;
}

.videoHeader h3 img {
    max-height: 30px;
    width: auto;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 8px;
}

.videoWrapBg {
    background-image: url(../img/videoBg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 96% auto;
}

.videoWrapBorder {
    border: 10px solid white;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.videoWrap {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.videoWrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes boinkyMark {
    0% {
        transform: rotate(0deg);
    }
    6% {
        transform: rotate(30deg);
    }
    13% {
        transform: rotate(-30deg);
    }
    19% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    31% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-moz-keyframes boinkyMark {
    0% {
        transform: rotate(0deg);
    }
    6% {
        transform: rotate(30deg);
    }
    13% {
        transform: rotate(-30deg);
    }
    19% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    31% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-o-keyframes boinkyMark {
    0% {
        transform: rotate(0deg);
    }
    6% {
        transform: rotate(30deg);
    }
    13% {
        transform: rotate(-30deg);
    }
    19% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    31% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes boinkyMark {
    0% {
        transform: rotate(0deg);
    }
    6% {
        transform: rotate(30deg);
    }
    13% {
        transform: rotate(-30deg);
    }
    19% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    31% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.videoFooter {
    text-align: center;
    max-width: 660px;
    margin: 0 auto;
}

.videoFooter h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    display: inline-block;
    padding: 10px 0px;
    position: relative;
    color: #ffbe5b;
}

.videoFooter h2 span {
    background: #ffffff;
    display: inline-block;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    color: #000f20;
    animation: boinkyMark linear 2s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: boinkyMark linear 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: boinkyMark linear 2s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: boinkyMark linear 2s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: boinkyMark linear 2s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

.videoFooter h2:before,
.videoFooter h2:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 50%;
    top: -10px;
    margin-bottom: -2px;
    width: 20px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.2);
}

.videoFooter h2:before {
    left: -30px;
    border-left: 4px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 0 0 4px;
}

.videoFooter h2:after {
    right: -30px;
    border-right: 4px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 0 4px 0;
}

.videoFooter p {
    margin-top: 20px;
    max-width: 600px;
}

.formOuterWrap {
    max-width: 700px;
    border: 10px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.formInnerWrap {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background-color: #112742;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    background-image: url(../img/formPattern.png);
    font-size: 0.875em;
}

@media screen and (min-width: 480px) {
    .formInnerWrap {
        padding: 30px;
    }
}

@media screen and (max-width: 479px) {
    .formInnerWrap {
        padding: 20px;
    }
}

.formInnerWrap #introForm .btn {
    display: block;
    width: 100%;
    font-family: "Rajdhani", sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #96ce00;
    color: white;
    border-style: none;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    white-space: normal;
    min-height: 60px;
    line-height: 1em;
}

.formInnerWrap #introForm .btn:hover {
    background-color: #a9e800;
}

.formInnerWrap #introForm .btn:active,
.formInnerWrap #introForm .btn:focus {
    background-color: #96ce00;
}

.formInnerWrap #introForm .btn span.glyphicon {
    font-size: 0.8em;
}

.formInnerWrap #introForm a.btn {
    display: block;
    width: 100%;
    font-family: "Rajdhani", sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #96ce00;
    color: white;
    border-style: none;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    white-space: normal;
    min-height: 60px;
    line-height: 1em;
    min-height: 40px;
}

.formInnerWrap #introForm a.btn:hover {
    background-color: #a9e800;
}

.formInnerWrap #introForm a.btn:active,
.formInnerWrap #introForm a.btn:focus {
    background-color: #96ce00;
}

.formInnerWrap #introForm a.btn span.glyphicon {
    font-size: 0.8em;
}

.formInnerWrap #introForm .form-control {
    text-align: center;
    font-size: 1rem;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    color: #333333;
}

.formInnerWrap #introForm input[type="number"]::-webkit-outer-spin-button,
.formInnerWrap #introForm input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formInnerWrap #introForm input[type="number"] {
    -moz-appearance: textfield;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.3);
}

footer .container span {
    margin-left: 10px;
    margin-right: 10px;
}

footer a {
    display: inline-block;
    margin: 0 10px;
    color: #4772a5;
}

footer a:hover {
    color: inherit;
    opacity: 0.8;
}

footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -62px;
    display: block;
    width: 124px;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
}

#modal-spot .modal-body,
#modal-crazy .modal-body {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #e30613;
    background-color: white;
    border-radius: 6px;
}

#modal-spot .modal-body h2,
#modal-crazy .modal-body h2 {
    color: #002653;
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 0px;
}

#modal-spot .modal-body h3,
#modal-crazy .modal-body h3 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#modal-spot .modal-body h3 span,
#modal-crazy .modal-body h3 span {
    font-size: 1.2em;
    color: #002653;
}

#modal-spot .modal-body p,
#modal-crazy .modal-body p {
    color: #595959;
    font-size: 1.2em;
    line-height: 1.5em;
}

#modal-spot .modal-body p strong,
#modal-crazy .modal-body p strong {
    font-size: 2em;
    background-color: #ffbe5b;
    color: #FFFFFF;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
}

#modal-spot .modal-body .close,
#modal-crazy .modal-body .close {
    z-index: 50;
    position: relative;
}

#modal-spot .btn.btn-default,
#modal-crazy .btn.btn-default {
    display: block;
    width: 100%;
    font-family: "Rajdhani", sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #96ce00;
    color: white;
    border-style: none;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    white-space: normal;
    min-height: 60px;
    line-height: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
}

#modal-spot .btn.btn-default:hover,
#modal-crazy .btn.btn-default:hover {
    background-color: #a9e800;
}

#modal-spot .btn.btn-default:active,
#modal-spot .btn.btn-default:focus,
#modal-crazy .btn.btn-default:active,
#modal-crazy .btn.btn-default:focus {
    background-color: #96ce00;
}

@media (max-width: 767px) {
    html {
        font-size: 13px;
    }
    .container .videoHeader h2:before,
    .container .videoHeader h2:after,
    .container .videoFooter h2:before,
    .container .videoFooter h2:after {
        display: none;
    }
    .container .videoHeader h2 {
        margin-bottom: 30px;
    }
    .bigFormWrap .bigFormInfoWrap .bigFormInfo1 {
        width: 100%;
        display: block;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        z-index: 80;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .bigFormWrap .bigFormInfoWrap .bigFormInfo1:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: auto;
        bottom: -10px;
        z-index: 100;
        margin-left: -30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 30px 0 30px;
        border-color: #ffbd5b transparent transparent transparent;
    }
    .bigFormWrap .bigFormInfoWrap .bigFormInfo2 {
        display: block;
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        z-index: 50;
        border-radius: 0px;
    }
    .stepsSection .row .col-md-4 p {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .stepsSection .row .col-md-4:last-child p {
        margin-bottom: 0px;
    }
    .spotsHelpSection .container.text-center .faqWrap.center-block {
        font-size: 0.8em;
        padding: 20px;
    }
}

.stepsSection {
    background-color: #000f20;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.stepsSection p {
    text-align: center;
    font-size: 1.125rem;
    margin-top: 10px;
}

.bigFormSection {
    padding-bottom: 50px;
}

.bigFormWrap {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.bigFormInfoWrap {
    float: left;
    width: 100%;
    display: table;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
}

.bigFormInfo1 {
    width: 50%;
    background-color: #ffbe5b;
    border-top-left-radius: 4px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 120px;
    font-size: 2.5rem;
    position: relative;
}

.bigFormInfo1:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -20px;
    z-index: 100;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 0 60px 20px;
    border-color: transparent transparent transparent #ffbd5b;
}

.bigFormInfo2 {
    width: 50%;
    background-color: #e30613;
    border-top-right-radius: 4px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 120px;
    padding: 0 40px;
    font-size: 1.3rem;
    line-height: 1.2em;
    text-transform: uppercase;
    position: relative;
}

.bigFormInnerWrap {
    padding: 30px;
    text-align: left;
    color: #333333;
}

.spotsWrap {
    max-width: 220px;
    margin-bottom: 40px;
    display: block;
    width: 100%;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #96ce00;
    color: white;
    border-style: none;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    white-space: normal;
    min-height: 60px;
    line-height: 60px;
    border-radius: 4px;
}

.spotsWrap div {
    float: left;
    max-width: 140px;
    text-align: left;
    line-height: 20px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid white;
    width: 100%;
}

.spotsWrap strong {
    line-height: 60px;
    float: left;
    font-size: 3rem;
    padding-left: 10px;
}

@media (max-width: 479px) {
    .spotsHelpSection .container.text-center .spotsWrap.center-block {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding-top: 10px;
    }
    .spotsHelpSection .container.text-center .spotsWrap.center-block div {
        float: none;
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 0px;
        margin-top: 0px;
        text-align: center;
        border-left-style: none;
        border-top: 1px solid white;
        padding-top: 10px;
        height: auto;
        padding-bottom: 10px;
        width: auto;
    }
    .spotsHelpSection .container.text-center .spotsWrap.center-block strong {
        width: 100%;
        float: none;
        margin-left: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        height: auto;
    }
    .bigFormWrap .bigFormInnerWrap {
        padding: 20px;
    }
    #modal-spot .modal-dialog,
    #modal-crazy .modal-dialog {
        font-size: 0.7em;
        margin: 0px;
        height: 100%;
    }
    #modal-spot .modal-dialog .modal-content,
    #modal-crazy .modal-dialog .modal-content {
        height: 100%;
    }
    #modal-spot .modal-dialog .modal-content .modal-body,
    #modal-crazy .modal-dialog .modal-content .modal-body {
        height: 100%;
        border-radius: 0px;
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        border-radius: 0;
    }
}

.spotLeftBadge {
    position: absolute;
    top: 10px;
    left: 100%;
    bottom: 10px;
    margin-left: -10px;
    width: 200px;
    background-color: #96ce00;
    border-radius: 4px;
    padding-top: 24px;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1em;
    animation: pulseLoop linear 3s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: pulseLoop linear 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: pulseLoop linear 3s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: pulseLoop linear 3s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: pulseLoop linear 3s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
    height: 100px;
}

.spotLeftBadge:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #97ce00 transparent transparent;
}

.spotLeftBadge strong {
    display: block;
    font-size: 2rem;
    margin-bottom: 10px;
}

@media (max-width: 1199px) {
    .container .bigFormInfoWrap .bigFormInfo2 .spotLeftBadge {
        display: none;
    }
}

.testimonialsSection {
    background-color: #000f20;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.testimonialsSection h3 {
    margin-bottom: 15px;
}

.testimonialsSection p {
    margin-top: 15px;
}

.faqWrap {
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px 30px 10px 30px;
    margin-bottom: 30px;
    margin-top: 0;
    border-radius: 4px;
}

.faqWrap h3 {
    margin-bottom: 15px;
}

.container .faqText {
    font-size: 1.2em;
    line-height: 1.2em;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.container .faqText strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    position: relative;
}

.container .faqText:after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    bottom: 0;
    left: 50%;
    margin-left: -15px;
}

.container .faqText:last-of-type {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.container .faqText:last-of-type:after {
    display: none;
}

/* modal */

.modal {
    color: #000;
}

.modal h4 {
    color: #000;
}

/* loading screen */

#loading,
#loadingin {
    font-size: 1.625rem;
    text-align: center;
    color: #525252;
}

#loading .waitmsg,
#loadingin .waitmsg {
    margin-top: 0%;
    margin-bottom: 30px;
}

#loading i,
#loadingin i {
    font-size: 4rem;
    color: #e8ba3e;
}

#loading .prc,
#loadingin .prc {
    font-size: 3.375rem;
    font-weight: bold;
    margin: 20px;
}

#loading .infomsg,
#loadingin .infomsg {
    font-size: 1.125rem;
}

#loadingin {
    display: none;
    margin-bottom: 50px;
}

/* faq */

.spotsHelpSection .container h4 {
    margin-bottom: 20px;
}

.spotsHelpSection .faqWrap h4 {
    margin: 0px;
    font-size: 1em;
    font-family: inherit;
}

.spotsHelpSection .faqWrap h4 strong {
    margin: 0px;
}

.spotsHelpSection .faqWrap .panel-heading {
    padding: 0px;
    background: none;
}

.spotsHelpSection .faqWrap .panel {
    background: none;
    border: none;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.spotsHelpSection .faqWrap a {
    color: #fff;
}

.spotsHelpSection .faqWrap .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none;
    padding-bottom: 0px;
}

.spotsHelpSection .faqWrap .panel:after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 1px;
    background: rgba(255, 255, 255, 0.4);
    bottom: 0;
    left: 50%;
    margin-left: -15px;
}

#faq>div:last-child:after {
    background: none;
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-o-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

.blink_text {
    animation: blinker linear 1s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: blinker linear 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: blinker linear 1s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: blinker linear 1s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: blinker linear 1s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

.notificationWrap {
    width: 400px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    min-height: 100px;
    padding: 35px;
    display: none;
    z-index: 1000;
}

.notificationWrap .row div:last-child {
    font-size: 3.375em;
    line-height: 0.8em;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    color: #ffbe5b;
}

.notificationWrap .img-responsive {
    width: 55px;
    height: auto;
}

.notificationWrap .glyphicon.glyphicon-remove {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.notificationWrap .glyphicon.glyphicon-remove:hover {
    color: rgba(255, 255, 255, 0.5);
}

#imagemodal .pop {
    cursor: pointer;
}

#imagemodal.modal {
    text-align: center;
}

#imagemodal .modal-dialog {
    width: auto;
    display: inline-block;
    max-width: 1300px;
}

#imagemodal .imagepreview {
    max-width: 100%;
}

#imagemodal .close {
    position: absolute;
    right: 2px;
    top: -2px;
}

#modal-error {
    z-index: 10000;
}

.conh {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 10;
}

@media (max-width: 995px) {
    .jhtxt {
        font-size: 0.7em;
    }
}

@media (max-width: 479px) {
    header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h1 {
        line-height: 0.7em;
    }
    /*.videoHeader h2 {
        font-size: 1.5em;
    }
    .container .videoHeader h2 {
        margin-bottom: 10px;
    }*/
    .videoFooter h2 {
        margin-bottom: 0px;
        font-size: 1.1em;
    }
}

/* ---------------- ADVERTORIAL */

main {
    position: relative;
    padding-top: 30px;
}

.disclaimerHeader {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: .75em;
    opacity: 1;
    color: white;
    text-shadow: 0 0px 4px black;
}

.disclaimerFooter {
    font-size: .9em;
    color: #919191;
    padding: 15px;
    border: 1px solid rgba(170, 170, 170, 0.5);
    margin-top: 15px;
    text-align: left;
}

.disclaimerFooter p {
    line-height: 1.2;
    margin-bottom: 0;
}

.disclaimerFooter p:not(:last-child) {
    margin: 0 0 8px;
}

.disclaimerFooter p span {
    margin: 0;
}

.testimonialsNote {
    font-size: .75em;
    position: relative;
    top: -.25em;
    text-decoration: none !important;
    color: inherit !important;
}

.testimonialsNote:hover {
    opacity: 1 !important;
}

/* ADVERTORIAL ---------------- */