.videoOverlayWrap {
    position: relative;
}

.videoOverlayInner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    transition: 250ms opacity ease;
}

.videoOverlayInner.hideIt {
    opacity: 0;
}

.videoOverlayInner .videoOverlayHeadline {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

@media screen and (max-width:767px) {
    .videoOverlayInner .videoOverlayHeadline {
        font-size: 2rem;
    }
}

.videoOverlayInner a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: auto;
}